<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVReflection OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EVReflection TVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EVReflection iOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EVReflection iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DC8AA3C1C24215500FA6B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC8AA621C242E0600FA6B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F07C55C1AF101A9000DF1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F07C5711AF101A9000DF1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3E31841BB9095C001E6788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F93369A1C2821A700AF7076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9336AD1C28227400AF7076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9336B61C28227400AF7076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
