language: objective-c
osx_image: xcode7

before_install:
- export LANG=en_US.UTF-8
- brew update
- if brew outdated | grep -qx xctool; then brew upgrade xctool; fi

script:
- xctool clean build -project EVReflection/EVReflection.xcodeproj -scheme 'EVReflection iOS Tests' -sdk iphonesimulator9.0 ONLY_ACTIVE_ARCH=NO

