<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>SectionOrder</key>
			<integer>1</integer>
			<key>values</key>
			<array>
				<dict>
					<key>name</key>
					<string>Goals</string>
					<key>isEnabled</key>
					<false/>
					<key>sort_order</key>
					<integer>1</integer>
					<key>imgName</key>
					<string>Goals</string>
					<key>segueName</key>
					<string>segueGoal</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Profile</string>
					<key>isEnabled</key>
					<true/>
					<key>sort_order</key>
					<integer>2</integer>
					<key>imgName</key>
					<string>Profile</string>
					<key>segueName</key>
					<string>segueProfile</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionOrder</key>
			<integer>2</integer>
			<key>values</key>
			<array>
				<dict>
					<key>name</key>
					<string>Apps &amp; Devices</string>
					<key>isEnabled</key>
					<true/>
					<key>imgName</key>
					<string>Devices</string>
					<key>sort_order</key>
					<integer>4</integer>
					<key>segueName</key>
					<string>segueConnectedDevices</string>
				</dict>
				<dict>
					<key>name</key>
					<string>About Us</string>
					<key>isEnabled</key>
					<true/>
					<key>sort_order</key>
					<integer>3</integer>
					<key>imgName</key>
					<string>about_us</string>
					<key>segueName</key>
					<string>segueSetting</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionOrder</key>
			<integer>3</integer>
			<key>values</key>
			<array>
				<dict>
					<key>name</key>
					<string>Logout</string>
					<key>isEnabled</key>
					<true/>
					<key>sort_order</key>
					<integer>5</integer>
					<key>imgName</key>
					<string>Logout</string>
					<key>segueName</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
